@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #161618;
  --verde: #6FFF57;
  --branco: #FFFFFF;
  --botao-ativo: #3A375E;
  --botao-inativo: rgba(38, 23, 202, 0.5);
  --texto-fundo: rgba(136, 255, 0, 0.932);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}
